[submodule "Android-ViewPagerIndicator"]
	path = Android-ViewPagerIndicator
	url = git://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
[submodule "Android-PullToRefresh"]
	path = Android-PullToRefresh
	url = git://github.com/chrisbanes/Android-PullToRefresh.git
